.header {
  // position: relative;
  padding-top: 2.7rem;
  padding-bottom: 14rem;

  @include responsive(tablet) {
    padding-top: 2.4rem;
    padding-bottom: 10rem;
  }

  @include responsive(phone) {
    padding-top: 2rem;
    padding-bottom: 3.3rem;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }
}

.blog-header {
  padding-bottom: 10.6rem;
}

.sitenav {
  margin-right: 3.3rem;

  @include responsive(phone) {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 9999;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-bg;
    opacity: 1;
  }
  &__list {
    display: flex;

    @include responsive(phone) {
      display: flex;
      flex-direction: column;
    }
  }

  &__item:not(:last-child) {
    margin-right: 2.4rem;
  }

  &__link {
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.45;
    color: #000;

    @include responsive(phone) {
      color: white;
      font-size: 3rem;
    }
  }

  &__link-active {
    color: $color-primary;
  }

  &__link:hover {
    color: $color-primary;
  }

  &__link:active {
    opacity: 0.4;
  }
}

.toggele-btn {
  display: none;

  @include responsive(phone) {
    display: block;
    position: fixed;
    z-index: 9999;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
  }

  &__image {
    width: 15px;
    height: 15px;
    display: block;
  }
}

.hidden {
  display: none;
}
